@model List<Manga>
@{
    ViewData["Title"] = "Home";
    var generos = (List<Genero>)ViewData["Generos"];
    string Cor(string nome)
    {
        return generos
        .Where(t => t.Nome == nome)
        .Select(t => t.Cor)
        .FirstOrDefault();
    }
}

<section class="pt-5 pb-3 text-center container">
    <div class="row">
        <div class="col mx-auto" id="title">
            <p>Mangás</p>
            <div class="group">
                <button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter border"
                    onclick="filter('all')">
                    Ver Todos
                </button>
                @foreach (var genero in generos)
                {
                    <button id="btn-@genero.Nome" class="btn btn-sm my-2 text-white btn-filter"
                        style="background-color:@genero.Cor" onclick="filter('@genero.Nome')">
                        @genero.Nome
                    </button>
                }
            </div>
        </div>
    </div>
</section>

<div class="py-5 bg-dark">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            @foreach (var manga in Model)
            {
                <!-- Card Manga - Inicio -->
                <div class="col" onclick="window.location = '/Home/Details/@manga.Numero'">
                    <div class="card shadow-sm cursor-pointer border-white @string.Join(' ', manga.Genero) bg-dark">
                            <img src="@manga.Imagem" class="card-img-top" width="100%" height="300" alt="@manga.Nome" />
                            <div class="card-body">
                            <p class="card-text text-white mb-0">N° @manga.Numero.ToString("000")</p>
                            <h3 class="card-title text-white">@manga.Nome</h3>
                            <div class="btn-group">
                                @foreach (var genero in manga.Genero)
                                {
                                    <a href="#" class="btn my-2 text-"
                                     style="background-color:@Cor(genero)"
                                     onclick="filter('@genero')">@genero</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card Manga - Fim -->
            }

            <div id="zeroManga" class="col-lg-12 text-center">
                <h1 class="my-3 text-danger d-none">Nenhum Mangá Encontrado</h1>
            </div>
        </div>

    </div>
</div>